.carousel-item.active {
    display: flex !important;
    justify-content: center !important;
}

.caro-img{
    height: 30rem;
    width: 90%;
    border-radius: 5rem;
}

.carousel-caption{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.caro-btn{
    
        background: rgb(153,147,255);
        background: linear-gradient(90deg, rgba(153,147,255,1) 0%, rgba(79,83,190,1) 53%, rgba(23,142,166,1) 100%);
        border: none;
        outline: none;
        width: 15rem;
        padding: 1.5rem 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        border-radius: 5rem;
        color: black;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
        transition-property: opacity;
}

.caro-btn a{
    color: unset;
    text-decoration: none;
}


@media screen and (max-width:1050px){
    .caro-img{
        width: 100%;
    }
}