.e-commerce-fashion{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 6rem 10rem;
}

.fashion-left{
    margin-right: 2rem;
}

.fashion-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fashion-container h1{
    font-family: Georgia,sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.fashion-container p{
    font-family: poppins,Arial,Helvetica,sans-serif;
    font-size: 1rem;
    line-height: 188%;
}

@media screen and (max-width:1260px){
    .moza{
        width: 22rem;
    }
    .elwad{
        width: 22rem;
    }

    .fashion-container h1{
        font-size: 2rem;
    }
    
    .fashion-container p{
        font-size: 1rem;
    }
}

@media screen and (max-width:900px){
    .e-commerce-fashion{
        margin: 6rem 5rem;
    }
}

@media screen and (max-width:825px){
    .moza{
        width: 18rem;
    }
    .elwad{
        width: 18rem;
    }

    .fashion-container h1{
        font-size: 1.5rem;
    }
    
    .fashion-container p{
        font-size: 0.8rem;
    }

    .e-commerce-fashion{
        margin-right: 1rem;
    }
}

@media screen and (max-width:720px){
    .e-commerce-fashion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fashion-left{
        margin-bottom: 0.5rem;
    }
    .fashion-right{
        justify-content: space-around;
        align-items: center;
    }
    .fashion-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}