.e-commerce-sign-container{
    display: flex;
    flex-direction: column;
    background: rgb(153,147,255);
    background: linear-gradient(90deg, rgba(153,147,255,1) 0%, rgba(0,0,0,1) 0%, rgba(69,153,156,1) 0%, rgba(105,220,232,1) 4%, rgba(127,209,243,1) 17%, rgba(222,170,224,1) 100%, rgba(23,142,166,1) 100%);
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    width: 100%;
}

.sign-h1{
    font-family: superior,Georgia,serif;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.sign-h4{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
}


 .sign-cont-input{
    border: none;
    outline: none; 
    border-radius: 3rem;
    padding: 1.5rem;
    margin-right: 1rem;
    padding-right: 6rem;
}

.sign-cont-input:focus{
    border: 1px dashed blue;
}

#btnsign{
    background-color: transparent;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    outline: none;
    border: 2px solid black;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width:1145px) {
    .sign-h1{
        font-size: 2.5rem;
    }
    
    .sign-h4{
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500;
    }
}

@media screen and (max-width:700px) {
    .sign-h1{
        font-size: 2rem;
    }
    
    .sign-h4{
        font-size: 0.6rem;
        line-height: 1rem;
        font-weight: 500;
    }

    .sign-cont-input{
        padding: 1rem;
        padding-right: 3rem;
    }
}

@media screen and (max-width:435px) {
    .sign-h1{
        font-size: 1.5rem;
    }
    
    .sign-h4{
        display: none;
    }

    .sign-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #btnsign{
        padding: 1rem;
        font-weight: 400;
        margin-top: 0.5rem;
    }
}