.e-commerce-product-card{
    position: relative;
    cursor: pointer;
    width: fit-content;
}

.card-btn{
    background: rgb(153,147,255);
    background: linear-gradient(90deg, rgba(153,147,255,1) 0%, rgba(79,83,190,1) 53%, rgba(23,142,166,1) 100%);
    border: none;
    outline: none;
    width: 15rem;
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 5rem;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s;
    transition-property: opacity;
}

.details{
    z-index: 1;
    position: absolute;
    top: 25%;
    right: 5%;
}

.info{
    display: flex;
    width: auto;
    padding: 0.25rem;
    justify-content: space-between;
}

.name{
    margin-right: 6rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.name:hover{
    color: #5d5fef;
}

.e-commerce-product-card:hover .card-btn{
    opacity: 1;
}

.card-imgg{
    border-radius: 1.5rem;
    outline: none;
    border: none;
    object-fit: fill !important;
    width: 20rem;
    height: 26.75rem;
}

.e-commerce-product-card:hover img{
    background-color:#000;
    opacity:0.5;
}

.card-img{
    width: fit-content;
}

@media screen and (max-width:392px){
    .info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .name{
        margin-right: 0rem;
        font-weight: 500;
        font-size: 1rem;
    }
    img{
        width: 18rem;
    }
}