/* .slick-next {
        color: red;
        right: 15px;
        top: -24px;
        background:red;
        z-index: 100;
      }

      .slick-next:hover{
        color: red;
        right: 15px;
        top: -24px;
        background:red;
        
      }
      .slick-arrow {
        position: absolute;
        top: -40px;
        right: 0;
    } */

h2{
  margin-bottom: 1rem;
  font-family: superior,Georgia,serif;
  font-size: 2rem;
}

div{
  border: none;
  outline: none;
}

