.e-commerce-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 2rem;
}

.footer-links-container{
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    margin-bottom: 3rem;
}

.footer-links-div{
    margin-right: 10rem;
    margin-bottom: 3rem;
}

.footer-links-div h4{
    color: white;
    font-size: 1rem;
    font-family: poppins,Arial,Helvetica,sans-serif;
    letter-spacing: .025em;
    font-weight: 800;
    margin-bottom: 2rem;
}

.footer-links-div p a{
    color: white;
    text-decoration: none;
}

.footer-links-div p{
    color: white;
    cursor: pointer;
}

.footer-links-div p:hover,
.footer-links-div p a:hover{
    color: #5d5fef;
}

.footer-sign-social{
    display: flex;
    flex-direction: column;
    color: white;
}

.footer-form{
    margin-bottom: 2rem;
}

.footer-input{
    outline: none;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5rem;
    margin-right: 0.5rem;
}

.footer-input:focus{
    border: 1px dashed #5d5fef;
}

.footer-btn{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 1rem 2rem;
    border-radius: 5rem;
    font-weight: bold;
}

.social-icons{
    display: flex;
    margin-top: 1.5rem;
}

.footer-icon{
    margin-right: 1rem;
}

@media screen and (max-width:1150px){
    .e-commerce-footer{
        width: 100%;
        flex-direction: column-reverse;
        padding: 2rem;
    }

    .footer-sign-social{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .footer-links-container{
        flex-wrap: wrap;
    }
}

@media screen and (max-width:435px){
    .footer-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-input{
        margin-bottom: 0.5rem;
    }
}